:root {
    --backgroundColor: #072227;
    --navBarColor: #0a3138;
    --headingColor: #33c2db;
    --textColor: #eefafc;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--textColor);
}

a {
    color: var(--textColor);
    text-decoration: none;
}

p {
    color: var(--textColor);
}

.tblIcons {
    width: 20px;
    height: 20px;
}


/* content */
.content {
    position: fixed;
    top: 0;
    left: 15vw;
}

h1 {
    color: var(--headingColor);

}

.test {
    color: #eefafc;
    font-size: 14px;

}

/*----------------------------------------*/








/* nav bar */
.navBar {
    height: 100vh;
    width: 13vw;
    background-color: var(--navBarColor);
    display: inline-block;
}

.navBarEntry {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    margin: 20px auto;
}

.navBarLink {}

/*----------------------------------------*/